<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs', { title: 'Notifications' , stylesheet: '/css/unapproved-campaigns.css' }) %>

  <body>
    <%- include('navbar.ejs', { user: user }) %>
      <div class="notifcontainer">
        <div class="notifnav">
          <ul>
            <li><a href="#" class="notiflogo notifa">
                <% if (profile.profile_img){ %>
                  <img src="/uploads/<%=profile.profile_img%>" alt="Profile">
                  <% } else { %>
                    <img src="/images/default.jpg" alt="Profile">
                    <% } %>
                      <span class="notifnav-item">DashBoard</span>
              </a>
            </li>

            <li><a href="/MyCampaigns" class="notifa">
                <i class="fas fa-user"></i>
                <span class="notifnav-item prof">Profile</span>
              </a></li>

            <li><a href="/notification" class="notifa">
                <i class="fas fa-bell"></i>
                <span class="notifnav-item">Notification</span>
              </a></li>
            <li><a href="/FollowedCampaigns" class="notifa">
                <i class="fas fa-thumbs-up"></i>
                <span class="notifnav-item ">Followed Campaigns</span>
              </a></li>
            <li><a href="/DonatedCampaigns" class="notifa">
                <i class="fas fa-user"></i>
                <span class="notifnav-item">Backed Campaigns</span>
              </a></li>
            <% if(user.is_admin) { %>
              <li><a href="/unapprovedCampaigns" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Approve Campaigns</span>
                </a></li>
              <li><a href="/reported-campaigns" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Reported Campaigns</span>
                </a></li>
              <li><a href="/delete-requests" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Delete Requests</span>
                </a></li>
              <li><a href="/edit-requests" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Edit Requests</span>
                </a></li>
              <li><a href="/users" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Users</span>
                </a></li>
              <li><a href="/register-admin" class="notifa">
                  <i class="fas fa-users"></i>
                  <span class="notifnav-item">Add Admin</span>
                </a></li>
              <% } %>
          </ul>
        </div>

        <section class="main">



          <div class="main-skills">

            <div class="profile-card">
              <h3 class="main-skills-h3">Name: </h3>
              <h3 class="main-skills-Heda5">
                <%=user.name%>
              </h3>

            </div>
            <div class="profile-card">
              <h3 class="main-skills-h3">Email: </h3>
              <h3 class="main-skills-Heda5">
                <%=user.email%>
              </h3>
            </div>

          </div>

          <!-- Main Part of this page -->


          <section class="main-course">
            <!-- <h1><b>My Story</b></h1> -->
            <div class="course-box">
              <ul>
              </ul>
              <div class="course">

                <div class="activity-data">
                  <div class="data names">
                    <span class="data-title"><b class="boldName"><u></u>Approve Campaigns</b></span>
                    <div class="col-md-12">
                      <% if(campaigns.length==0) { %>
                        <p>No campaigns need approval</p>
                        <% } else {%>
                          <br>
                          <div class="row justify-content-between  ">
                            <div class="col-1 padID">
                              <h4 class="hedsUp">ID</h4>
                            </div>
                            <div class="col-2 padTitle">
                              <h4 class="hedsUp">Title</h4>
                            </div>
                            <div class="col-3 padCreator">
                              <h4 class="creatorh4 hedsUp">Creator</h4>
                            </div>
                            <div class="col-2 padView">
                              <h4 class="viewh4 hedsUp">View</h4>
                            </div>
                            <div class="col-2 padDocuments">
                              <h4 class="hedsUp">Documents</h4>
                            </div>
                            <div class="col-1 padApprove">
                              <h4 class="hedsUp">Approve</h4>
                            </div>
                            <div class="col-1 padDecline">
                              <h4 class="hedsUp">Decline</h4>
                            </div>



                            <% for (let i=0; i!=campaigns.length; i++) { %>
                              <div class="row justify-content-between borderInfo ">
                                <div class="col-1">
                                  <%=campaigns[i].id%>
                                </div>
                                <div class="col-3">
                                  <%=campaigns[i].title%>
                                </div>
                                <div class="col-2 emailLeft">
                                  <%=campaigns[i].email%>
                                </div>
                                <% if (campaigns[i].is_prelaunch) { %>
                                  <div class="col-2">
                                    <a class="btn btn-sm btn-dark me-1 viewButton buttonGameBlack"
                                      href="/campaign/prelaunch/<%=campaigns[i].id%>" target="_blank">View</a>
                                  </div>
                                  <div class="col-2 checkDoc">
                                    <div class="button-group">
                                    <button class="btn btn-dark btn-sm dropdown-toggle unapproved-dropdown docButton buttonGameBlack" disabled style="width:105px;">Documents</button>
                                    <ul class="unapproved-dropdown-menu dropdown-menu"></ul>
                                    </div>
                                  </div>
                                  <% } else { %>
                                    <div class="col-2">
                                      <a href="/campaign/personal/<%=campaigns[i].id%>" target="_blank"
                                        class="btn btn-sm btn-dark me-1 viewButton buttonGameBlack">View</a>
                                    </div>
                                    <div class="col-2 checkDoc">
                                      <div class="btn-group">
                                        <button
                                          class="btn btn-dark btn-sm dropdown-toggle unapproved-dropdown docButton buttonGameBlack w-125"
                                          type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Documents
                                        </button>
                                        <ul class="unapproved-dropdown-menu dropdown-menu">
                                          <% if (campaigns[i].nid_front) { %>
                                            <li><a class="dropdown-item" href="/uploads/<%= campaigns[i].nid_front%>"
                                                target="_blank">NID Frontside</a></li>
                                            <% } %>
                                              <% if (campaigns[i].nid_back) { %>
                                                <li><a class="dropdown-item" href="/uploads/<%= campaigns[i].nid_back%>"
                                                    target="_blank">NID
                                                    Backside</a></li>
                                                <% } %>
                                                  <% if (campaigns[i].passport) { %>
                                                    <li><a class="dropdown-item"
                                                        href="/uploads/<%= campaigns[i].passport%>"
                                                        target="_blank">Passport</a></li>
                                                    <% } %>
                                                      <% if (campaigns[i].business_plan) { %>
                                                        <li><a class="dropdown-item"
                                                            href="/uploads/<%= campaigns[i].business_plan%>"
                                                            target="_blank">Business
                                                            Plan</a>
                                                        </li>
                                                        <% } %>
                                                          <% if (campaigns[i].project_budget) { %>
                                                            <li><a class="dropdown-item"
                                                                href="/uploads/<%= campaigns[i].project_budget%>"
                                                                target="_blank">Project
                                                                Budget</a></li>
                                                            <% } %>
                                                              <% if (campaigns[i].product_prototype) { %>
                                                                <li><a class="dropdown-item"
                                                                    href="/uploads/<%= campaigns[i].product_prototype%>"
                                                                    target="_blank">Product
                                                                    Prototype</a></li>
                                                                <% } %>
                                                                  <% if (campaigns[i].legal_entity_verification) { %>
                                                                    <li><a class="dropdown-item"
                                                                        href="/uploads/<%= campaigns[i].legal_entity_verification%>"
                                                                        target="_blank">Legal Entity
                                                                        Prototype</a></li>
                                                                    <% } %>
                                                                      <% if (campaigns[i].financial_statements){ %>
                                                                        <li><a class="dropdown-item"
                                                                            href="/uploads/<%= campaigns[i].financial_statements%>"
                                                                            target="_blank">Financial
                                                                            Statements</a></li>
                                                                        <% } %>
                                                                          <% if(campaigns[i].intellectual_property){ %>
                                                                            <li><a class="dropdown-item"
                                                                                href="/uploads/<%= campaigns[i].intellectual_property%>"
                                                                                target="_blank">Intellectual
                                                                                Property</a></li>
                                                                            <% } %>
                                                                              <% if(campaigns[i].permits){%>
                                                                                <li><a class="dropdown-item"
                                                                                    href="/uploads/<%= campaigns[i].permits%>"
                                                                                    target="_blank">Permits</a>
                                                                                </li>
                                                                                <% } %>
                                                                                  <% if(campaigns[i].contracts){%>
                                                                                    <li><a class="dropdown-item"
                                                                                        href="/uploads/<%= campaigns[i].contracts%>"
                                                                                        target="_blank">Contracts</a>
                                                                                    </li>
                                                                                    <% } %>
                                                                                      <% if(campaigns[i].extras){%>
                                                                                        <li><a class="dropdown-item"
                                                                                            href="/uploads/<%= campaigns[i].extras%>"
                                                                                            target="_blank">Miscellanious</a>
                                                                                        </li>
                                                                                        <% } %>
                                        </ul>
                                      </div>

                                    </div>
                                    <%}%>

                                      <form id="approve-form-<%= campaigns[i].id %>" class="col-1"
                                        action="/admin/approveCampaign/<%=campaigns[i].id%>" method="post">
                                        <button form="approve-form-<%= campaigns[i].id %>" type="submit"
                                          class="btn btn-sm btn-success approveButtonCheck viewButtonApprove">Approve</button>
                                      </form>
                                      <form id="decline-form-<%= campaigns[i].id %>" class="col-1"
                                        action="/admin/declineCampaign/<%=campaigns[i].id%>" method="post">
                                        <button type="submit" form="decline-form-<%= campaigns[i].id %>"
                                          class="btn btn-sm btn-danger viewButtonDecline">Decline</button>
                                      </form>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <br>
                                </div>
                              </div>
                              <% } %>

                          </div>
                          <% } %>
                    </div>
                  </div>
                </div>
              </div>
          </section>
        </section>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
  </body>

</html>